Automated Sales Call Scheduler with Email Confirmation.json
{
  "name": "Automated Sales Call Scheduler with Email Confirmation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1bybsIDd3tzF7Rg-CgnbO50rtTkcFrpQNnvmgX6GE__4",
          "mode": "list",
          "cachedResultName": "n8n voice agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bybsIDd3tzF7Rg-CgnbO50rtTkcFrpQNnvmgX6GE__4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bybsIDd3tzF7Rg-CgnbO50rtTkcFrpQNnvmgX6GE__4/edit#gid=0"
        },
        "options": {}
      },
      "id": "d34742f5-91f6-4bb2-b526-4c77af6f9d96",
      "name": "New Row in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -16
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "IoSsVuuhbcIOXZDB",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "clientName",
              "value": "={{ $json['Customer name'] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "clientPhone",
              "value": "={{ $json['phone number'] }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "clientEmail",
              "value": "={{ $json.Gmail }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "serviceInfo",
              "value": "\"I provide LinkedIn profile optimization, content strategy, and personal branding for executives. My services include profile audits ($200), full page rewrites ($500), and monthly content management ($1,500/mo).\"",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "webhookUrl",
              "value": "=https://vapi.ai?demo=true&shareKey=40bc7baa-0b30-4f8f-b6e9-09197f79c72e&assistantId=ae460b1a-0ab4-4e8e-93c7-fbf74c590668",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "168760a7-559b-44cf-86ae-a138d628c021",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vapi.ai/call/phone ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\": \"ae460b1a-0ab4-4e8e-93c7-fbf74c590668\",\n  \"phoneNumberId\": \"311d258f-2a35-4ca2-8ff2-7d455f05d656\",\n  \"customer\": {\n    \"number\": \"{{ $('New Row in Google Sheets').item.json['phone number'] }}\"\n  },\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $('New Row in Google Sheets').item.json['Customer name'] }}\"\n    }\n  }\n}\n",
        "options": {}
      },
      "id": "843fe5c4-6475-476e-9eab-9a17e2bf5a26",
      "name": "Initiate Phone Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "X6SMwFWe1BitCELZ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deb14d54-54de-4027-b828-9ddf398a87c7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "01ee2d74-7797-44d2-874e-80e0fb02e81a",
      "name": "Receive Call Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        208
      ],
      "webhookId": "deb14d54-54de-4027-b828-9ddf398a87c7"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI assistant processing the results of a sales call. Your task is to:\n1. Analyze the call transcript to determine if the client agreed to book an appointment\n2. If they agreed, use the Google Calendar tool to check availability and book the appointment\n3. Extract key information: client agreement status, preferred date/time, and any special notes\n4. Return structured output with: callBooked (boolean), appointmentDateTime (ISO string if booked), clientNotes (string)\n\nWhen booking:\n- Check calendar availability first using the get operation\n- If the requested time is available, create the event\n- Include client name and service details in the event description\n- Confirm the booking details clearly"
        }
      },
      "id": "ea1a0839-9bad-46da-ba14-0b039ecd1a9b",
      "name": "AI Call Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "419717ae-8336-47c5-ae86-bdb8580f6777",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "sukFYoFLLXjzI7VK",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"callBooked\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the client agreed to book a call\"\n    },\n    \"appointmentDateTime\": {\n      \"type\": \"string\",\n      \"description\": \"ISO format date-time of the booked appointment\"\n    },\n    \"clientNotes\": {\n      \"type\": \"string\",\n      \"description\": \"Any special notes or requirements from the client\"\n    }\n  },\n  \"required\": [\"callBooked\"]\n}"
      },
      "id": "3b559218-a787-4c01-b02f-e56b4b7f94f1",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.callBooked }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0919723-c639-4065-993c-0a6f878134f0",
      "name": "Check If Call Booked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        224
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.clientEmail }}",
        "subject": "Appointment Confirmation - Your Call is Scheduled!",
        "message": "=Hi {{ $('Workflow Configuration').item.json.clientName }},\n\nThank you for your interest in our services! This email confirms your scheduled appointment:\n\n📅 Date & Time: {{ $json.appointmentDateTime }}\n\n📝 Notes: {{ $json.clientNotes || 'No special notes' }}\n\nWe look forward to speaking with you. If you need to reschedule, please reply to this email.\n\nBest regards,\nYour Team",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "084d4bcf-33aa-4051-a04a-8003fa78b0cb",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        208
      ],
      "webhookId": "5203fda3-6c44-4ee4-9ff0-42ad8b92f94d",
      "credentials": {
        "gmailOAuth2": {
          "id": "oegK15x3eIvxE27N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Call processed and confirmation sent\"\n}",
        "options": {}
      },
      "id": "8c841be5-d50d-49a7-9bcc-25bbb4a34bd9",
      "name": "Respond to Call Service",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1312,
        208
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gourvit24@gmail.com",
          "mode": "list",
          "cachedResultName": "N8n booking"
        },
        "start": "={{ $fromAI(\"StartTime\", \"The start time the user has requested for the booking\") }}",
        "end": "={{ $fromAI(\"EndTime\", \"Assume the end time is 30 minutes after the start time\") }}",
        "additionalFields": {
          "description": "",
          "summary": ""
        }
      },
      "id": "8775ce69-9a2d-4776-9cc2-01f4f1e12372",
      "name": "Google Calendar Tool",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TDgHDYQUd8Sp75Xi",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52c9b699-aeca-464e-941e-ca61985dac6d",
              "name": "Assistant id",
              "value": "ae460b1a-0ab4-4e8e-93c7-fbf74c590668",
              "type": "string"
            },
            {
              "id": "8349232f-d4e1-4446-ade3-8defbe46c3ba",
              "name": "Phone number id",
              "value": "311d258f-2a35-4ca2-8ff2-7d455f05d656",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -16
      ],
      "id": "facf8c0e-b140-45cc-9164-65c0b338f11b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "gourvit24@gmail.com",
          "mode": "list",
          "cachedResultName": "N8n booking"
        },
        "timeMin": "={{ $fromAI(\"StartTime\", \"The start time the user has requested for the booking\") }}",
        "timeMax": "={{ $fromAI(\"EndTime\", \"Assume the end time is 30 minutes after the start time\") }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Kolkata",
            "mode": "list",
            "cachedResultName": "Asia/Kolkata"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        384
      ],
      "id": "e54cbe5d-5da7-481b-8e21-6b06423ba0ce",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TDgHDYQUd8Sp75Xi",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Row in Google Sheets": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Call Results": {
      "main": [
        [
          {
            "node": "AI Call Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Call Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Call Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Call Agent": {
      "main": [
        [
          {
            "node": "Check If Call Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Call Booked": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Call Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Call Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Initiate Phone Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Call Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a58af756-8698-4665-9b71-dfdf500f9f45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4b464849513507e0713bfdc8aef597ad1840a82a55e69f2a19848e79c79ff5"
  },
  "id": "b0nS59lr1g3CzD9_jniRW",
  "tags": []
}